---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import InstagramIcon from "../icons/InstagramIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../icons/GitHub.astro";
import Mail from "../icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCase from "../icons/BriefCase.astro";
import CodeIcon from "../icons/CodeIcon.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Jhon's porfolio - Developer and Software Engineer"
  description="Hire jhon for your next project. He is a specialist in create web applications."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-24">
      <img
        class="rounded-full size-12 mb-5"
        src="https://media.licdn.com/dms/image/D4E03AQFx6P0zFWolng/profile-displayphoto-shrink_800_800/0/1693883414323?e=1716422400&v=beta&t=n8s-fy2Xktj5NCQffOA05cuXq66WLgvpOWwiuaOKuRA"
        alt="jhon foto"
      />
      <h1
        class="text-white text-2xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, I'm Jhon <a
          href="https://www.linkedin.com/in/jhon-meza07/"
          target="_blank"
          class="flex
          justify-center
          items-center"
        >
          <Badge>Available for hire</Badge>
        </a>
      </h1>
      <h2 class="text-lg lg:text-2xl text-wrap max-w-[700px]">
        As a Software Engineer/Developer with over <span
          class="text-yellow-200/90">2 years of experience</span
        >, I am highly skilled in <span class="text-yellow-200/90"
          >React and Python</span
        >, and have a strong background in <span class="text-red-200/90"
          >Full Stack development</span
        >. I'm from Quito, Ecuador 🇪🇨.
      </h2>
      <nav class="flex flex-wrap gap-4 mt-4">
        <SocialPill href="https://www.linkedin.com/in/jhon-meza07/">
          <LinkedIn class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/JhonMG07">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="instagram.com/jhonmeza07">
          <InstagramIcon class="size-4 md:size-6" />
          Instagram
        </SocialPill>
        <SocialPill href="mailto:jmeza050@gmail.com">
          <Mail class="size-4 md:size-6" />
          jmeza050@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="experience" class="pb-24">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefCase class="size-7" />
        Work experience
      </h2>

      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Projects
      </h2>
      <div class="text-lg lg:text-xl text-wrap max-w-[700px]">
        <h2 class="mb-10">
          Some of my projects you can see them in my <a
            class=" text-yellow-200/90 hover:text-2xl hover:bg-white/10 transition"
            href="https://github.com/JhonMG07"
            target="_blank"
            rel="noopener noreferrer">Github</a
          > such as:
        </h2>
      </div>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
